.contact-icon {
  border-radius: 1000px;
  overflow: hidden;
  background-color: #fbfafb;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-outer-container,
.experience-outer-container {
  background-color: #982298;
}

section {
  padding: 75px 0;
}

footer {
  background-color: rgb(50, 236, 118);
  color: white;
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: 1px solid #E5E9EF;
}

.card:hover {
  opacity: 0.8;
}

/* .footer-outer-container {} */

.profile-photo-container {
  height: 200px;
  width: 200px;
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px black;
}

.btn-primary:hover {
  background-color: #333333;
  border-color: #333333;
}

/* Estilos para el sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

/* Estilos para el enlace del logo en el sidebar */
.sidebar-brand {
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

/* Estilos para los enlaces en el sidebar */
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: background-color 0.3s;
}

/* Estilos para los enlaces activos en el sidebar */
.sidebar a.active {
  background-color: #555;
}

/* Estilos para el contenido principal */
.content {
  margin-left: 250px; /* Ancho del sidebar */
  padding: 20px;
}

.navbar-brand {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
}

nav {
  /* height: 65px; */
  border-bottom: 1px solid #E5E9EF;
}

main {
  padding-top: 40px;
  flex-grow: 1;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer-info-list > li {
  padding: 0 10px;
}

li > .fas {
  margin-right: 5px;
}


*::-webkit-scrollbar {
  display: none;
}

.btn-link {
  color: #000000;
  text-decoration: none;
}
.btn-link:hover {
  color: #656565;
}

.about-me-social-links > li > a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.about-me-social-links > li > a {
  display: flex;
  align-items: center;
}

.about-me-social-links > li > a:hover {
  display: flex;
  align-items: center;
  color: red;
}

.about-me-social-links > li > a > .fa-brands {
  font-size: 1em;
  padding-right: 8px;
}

.about-me-social-links > li {
  padding: 0 20px;
}

.about-me-social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}