.contact-icon {
    border-radius: 1000px;
    overflow: hidden;
    background-color: gray;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.project-outer-container, .experience-outer-container {
    background-color: #efefef;
}

section {
    padding: 60px 0;
}

footer {
    height: 100px;
    color: white;
}

.footer-outer-container {
}


.profile-photo-container {
    height: 200px;
    width: 200px;
    border-radius: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px black;
}

<style>

    .btn-primary:hover {
        background-color: #333333;
        border-color: #333333;
    }
</style>


<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
<h1 class="display-5">Display 5</h1>
<h1 class="display-6">Display 6</h1>


